# Git
.git
.gitignore
.github

# Docker
Dockerfile
.dockerignore
fly.toml

# Dependencies
node_modules
npm-debug.log
yarn-error.log

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Hexo
db.json
*.log
.deploy*
_multiconfig.yml

# Documentation
README.md
CHANGELOG.md
LICENSE

# CI/CD
.github
.gitlab-ci.yml

# Environment
.env
.env.*
