{% extends '_partials/layout.njk' %}

{% block title %}{{ __('title.tag') }}{{ __('symbol.colon') }}{{ page.tag }} | {% endblock %}

{% block header %}
  <h1 itemprop="name headline">
    {{  _p('title.tag_in', page.tag) }}
  </h1>
{% endblock %}

{% block content %}
  <div class="collapse wrap">
    <h2 class="item header">
      <a href="{{ url_for(config.tag_dir) }}">{{ __('title.all') }}</a>
      <small>/</small>
      {{ page.tag }}
      <small>{{ __('title.tag') }}</small>
    </h2>

    {%- set posts = page.posts %}

    {%- for post in posts.toArray() %}

        {{ partial('_partials/post/list_item.njk', {
          current_category: page.category,
          date_format: 'YYYY-MM-DD',
          post: post,
          show_category: true
        }) }}

    {%- endfor %}
  </div>

  {% include '_partials/pagination.njk' %}

{% endblock %}
