#sidebar .tab {
  position: absolute;
  display: inline-flex;
  padding: 1.875rem 0 .625rem;
  margin: 0;
  min-height: 1.875rem;


  .item {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: $font-size-small;
    justify-content: center;
    min-width: 2.75rem;
    padding: .375rem .875rem;
    color: var(--grey-5);

    border-radius: .625rem;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .08);

    the-transition(.2s, ease-out);

    &:nth-child(2) {
      margin: auto .625rem;
    }

    span {
      display: inline-block;
      margin-left: 0;
      max-width: 0;
      opacity: 0;
      overflow: hidden;
      transform: translateX(-0.125rem);
      transition: max-width .2s ease-out, opacity .18s ease-out, margin-left .2s ease-out, transform .2s ease-out;
      white-space: nowrap;
      word-break: keep-all;
    }

    &.active span {
      margin-left: .375rem;
      max-width: 6rem;
      opacity: 1;
      transform: translateX(0);
    }

    &:hover,
    &.active {
      @extend $color-btn;
    }

    &.active {
      min-width: 7.25rem;
    }


    &.active:hover {
      box-shadow: 0rem 0rem .75rem var(--color-pink);
    }

    &::before {
      flex: 0 0 auto;
      font-family-icons();
    }

    &.contents::before {
      @extend .i-list-ol:before;
    }

    &.related::before {
      @extend .i-sitemap:before;
    }

    &.overview::before {
      content: '';
      display: inline-block;
      width: 1.2em;
      height: 1.2em;
      background: url('../images/op-text-icons/poneglyph.png') center / contain no-repeat;
      flex: 0 0 auto;
    }

    &.active::before {
      margin-right: 0;
    }
  }

}

#sidebar.affix .tab {
  padding-top: .625rem;
}
